body 
    {
        font-family: 'Manrope', sans-serif;
        color: black;
    background-color: white; 
    }

input 
{
    font-family: 'Manrope', sans-serif;
}
    .containerconnexion
    {
     
        max-width: 100%;
        margin: 0;
        padding-top: 68px;
    } 

    .container2 
    {
        display: flex;
        justify-content: space-evenly
        
    }
  
   .register h1, .login h1 {
    color: rgb(13, 12, 12);
    text-align: center;

   }
    .register
    {
        margin-top: 32px;
        border-radius: 8px;
        box-shadow: 0 8px 20px 0px;
        background-color: #468b71e2;
        padding: 24px;
      
    }

    .login
    {
        margin-top: 32px;
        border-radius: 8px;
        box-shadow: 0 8px 16px -12px;
        background-color: #468b71e2;
        padding: 24px;
    }
.login h1 {
    margin-bottom: 48px;
}

.register h1 
{
    margin-bottom: 48px;
}
.input-grp 
    {

   width: 100%;
    margin: 0 auto;
   
    }

    .login input, .register input 
    {
    width: 80%;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    
   }

.google 
{
    width: 95%;
    margin-bottom: 24px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

   .enter button 
   {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    margin-top: 48px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-size: larger;
    transition: all 0.5s;
   }
   .enter button:hover {
    background-color: rgba(255, 77, 0, 0.591);
color: white;
   }
    .logotete {
        padding-bottom: 20px;
    }

 
    .header-inner {
        display: flex;
        justify-content: space-between;
    }

    ul {
        border-bottom: 1px black solid;
    }
    
    
    .error {
        background-color: red;
        color: black;
        display: none;
        border-radius: 8px;
        padding: 2px;
    }
   


    

