/*HEADER*/

header{
    background-color: white;  
    height: 160px;
}

body {
    font-family: 'Manrope', sans-serif;
    color: black;
    background-color: white; 
    
}

.search {
    font-family: 'Manrope', sans-serif;
    width: 400px;
    margin: 80px;
    background-color: rgba(255, 255, 255, 0.891);
    border: solid 1px black;

}
.search:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
/* A PARTIR DU MENU */
ul {
    padding:0px;

    }
    h1 {
        margin: 0px;
    }
.menu ul li  {
    display:inline-block;  
    justify-content: right;
    cursor: pointer;
    margin: 0px;

    }

    .logotete {
        padding-bottom: 20px;
        background-color: white;
    }
    ul {
        margin: 0px;
    }
 
    .container-menus {
        background-color: white;
        border-top: solid 1px black;
    }
    .container-menus nav ul li a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-family: 'Manrope', sans-serif;
        padding: 16px;
        transition: all 0.5s;
        
        
    }

    .container.menus {
        display: inline-block;
        justify-content: space-between;
    }
    .menu ul li a:focus, .menu ul li a:hover {
        
        text-decoration : none;
        padding-bottom: 2px;
            border-bottom : 2px solid #FD6F13
        
        
    }
    .header-inner {
        display: flex;
        justify-content: space-between;

    }
    
    
    

   /*BOUTONS*/

   .botones {
    background-color: #c08a38ab;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    border: 5px;
    cursor: pointer;
    margin: 2px;
    transition: all 0.4s;
   }
   .botones:hover 
   {
    background-color: bisque;
    color:rgb(151, 73, 0)
}
.cards button {
    background-color: #c08a38ab;
    border-radius: 25px;
    border: none;
    margin-left: 24px;
    color: white;
    font-family: 'Manrope', sans-serif;
    align-items: center;
    margin-left: 0px;
    transition: all 0.5s;
    cursor: pointer;
  
}
.cards button:hover {
background-color: rgba(255, 77, 0, 0.591);
}

.boutons {
    display: flex;
    justify-content: right;
}
   /* CARDS VELOS */
   
    .container-velos
    {
        display: flex;
        justify-content: space-between;
        font-family: 'Manrope', sans-serif;
        margin-left: 16px;
    }

.container-velos .cards:hover {
    border-width: 4px;
    border-radius: 8px;
    }
    .cards {
        
        border-radius: 8px;
        box-shadow: 0 8px 16px 0px;
        transition: all 0.5s;
        cursor: pointer;
        padding: 8px;
    }
  .cards:hover {
        color: black;
        background-color: transparent;
    }

    .clignote {
        margin-left: 16px;
    }


    .container button 
    {
        font-family: 'Manrope', sans-serif;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        transition: all 0.5;
    }
    .container button:hover 
    {
        background-color:rgba(255, 77, 0, 0.591);
        color: wheat;
        border: none;
    }

    .services 
    {
        display: flex;
  
        align-items: center;  
    }

    .payment, .delivery, .guarantee, .discount 
    {
            padding-top: 180px;
            padding-right:224px;
            padding-bottom: 80px;
            margin-left: 16px;
    }
   /*FOOTER */

   .foot .help div{
    display: inline-block;
    font-family: 'Manrope', sans-serif;
    padding: 8px;
   }
 
   .follow {
    display: flex;
  
    align-items: center;  
}

.container-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

}

.foot {
        background-color: #c08a38ab;
  
    color: rgb(0, 0, 0);
 
}
.help1 li, .help2 li{
    
    list-style: none;
    padding: 8px;
}

 .follow, .insta, .facebook, .youtube {
        padding: 16px;
        display: flex;
    }
.footer-bottom {
        padding-right: 15px;
        padding-left: 15px;
        background-color:#000000;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Manrope', sans-serif;
    }
    
    .container-footer form {
        background-color: #FEFBF4;
        border: none;
        border-radius: 8px;
        color: black;
    margin-bottom: 16px;   
    padding: 8px;
 }

.sub-bouton {
        background-color: #c08a38ab;
    font-family: 'Manrope', sans-serif;
    border-radius: 10px;
    color: white;
    border: 5px;
    cursor: pointer;
    margin: 2px;
    transition: all 0.4s;
    font-size: 16px;
    }

    .sub-bouton:hover{
        color: black;
        background-color: rgba(242, 225, 199, 0.891);
    } 
  
    
    .accueil {
        background-image: url(/HTML/Photos/canyontop.jpeg);
        height: 540px;
        background-size: cover;
        background-position: center center;
        margin: 0;
        
    }
    
    .title {
        text-align: left;
        color: white;
        font-family: 'Manrope', sans-serif;
        font-size: 40px;
        margin-left: 24px;
        
        
    }

    .discover{
        background-color: #c08a38ab;
        padding: 16px 24px 16px;
        border-radius: 25px;
        border: none;
        outline: 0;
        margin-left: 24px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Manrope', sans-serif;
        align-items: center;
        margin-left: 0px;
        margin-top: 60px;
        transition: all 0.5s;
        cursor: pointer;
        
    }
.discover:hover 
{
    background-color: rgba(255, 77, 0, 0.591);
    
}

.panier{
   
    margin-right: 24px;

}
.contador{
    position: absolute;
    top: 2px;
    color:#632A1F;
    font-weight: bold;
    font-size: large;
    
}

.clignote {
    color:rgb(0, 0, 0);
    animation: clignote 1s linear infinite;
  }
  @keyframes clignote {  
    70% { opacity: 0; }
  }